* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light);
  font-family: "Josefin Sans";
  list-style: none;
}
:root {
  --bg-dark: #000;
  --light: #fff;
  --bg-gradient: linear-gradient(135deg, #3710bd 0%, #a42395 100%);
  --light-grey: #767992;
  --light-text: #c8cbe7;
  --dark-grey: #25273d;
  --dark-line: #393a4b;
  --color-active: #3a7cfd;
}
body {
  background-color: var(--bg-dark);
  height: 100%;
}
.todo .todo__bg-gradient {
  background: var(--bg-gradient);
}
.todo .todo__bg-gradient .todo__bg-img {
  background-image: url("/assets/img/Bitmap.png");
  background-size: cover;
  height: 50vh;
  opacity: 0.8;
}
.todo .todo__content {
  position: relative;
  width: 38%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
/* .todo .todo__content--width {
  width: 100%;
} */
.todo .todo__content .todo__header {
  display: flex;
  justify-content: space-between;
}
.todo .todo__content .todo__header h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 15px;
  text-transform: uppercase;
  padding-bottom: 48px;
}
.todo .todo__content .todo__header span {
  font-size: 26px;
  color: var(--light);
}
.todo
  .todo__content
  .todo__body
  .todo__list
  .todo__list-item:nth-child(2)
  .todoLabel {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.todo
  .todo__content
  .todo__body
  .todo__list
  .todo__list-item:last-child
  .todoLabel {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.todo .todo__content .todo__body .todo__list .todoLabel {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-text);
  padding: 20px;
  cursor: pointer;
}
.todo .todo__content .todo__body .todo__list .labelText {
  margin-bottom: 24px;
  border-radius: 5px;
}
.todo .todo__content .todo__body .todo__list .todoInput {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: var(--light-grey);
  background-color: var(--dark-grey);
}
.todo .todo__content .todo__body .todo__list .todoLabel input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--bg-dark);
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
}
.todo .todo__content .todo__body .todo__list .todo__list-item {
  width: 100%;
}
.todo .todo__content .todo__body .todo__list .todo__list-item::after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid var(--dark-line);
}
.todo
  .todo__content
  .todo__body
  .todo__list
  .todo__list-item:last-child::after {
  content: "";
  border: none;
}
.todo .todo__content .todo__body .todo__list .todo__list-item--footer {
  width: 100%;
  background-color: var(--dark-grey);
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.todo
  .todo__content
  .todo__body
  .todo__list
  .todo__list-item--footer
  .todo__footer-items {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
}
.todo
  .todo__content
  .todo__body
  .todo__list
  .todo__list-item--footer
  .todo__footer-items
  p,
span {
  color: #5b5e7e;
}
.todo
  .todo__content
  .todo__body
  .todo__list
  .todo__list-item--footer
  .todo__footer-items
  .active {
  color: var(--color-active);
}
footer .footer__text {
  color: #5b5e7e;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 50px;
}
