* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
  list-style: none;
}
:root {
  --bg-dark: #000;
  --light: #fff;
  --light-grey: #767992;
  --light-text: #c8cbe7;
  --dark-grey: #25273d;
  --dark-line: #393a4b;
  --color-active: #3a7cfd;
  --footer-items-color: #5b5e7e;
}
body {
  background-color: var(--bg-dark);
  background-image: url(/assets/img/Bitmap.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: var(--light);
}
.container {
  max-width: 540px;
  margin: 0 auto;
}
.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
  margin-top: 70px;
}
.todo__header h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 15px;
  text-transform: uppercase;
}
.todo__header span {
  font-size: 26px;
  color: var(--light);
  cursor: pointer;
}
.todo__input {
  width: 100%;
  margin-bottom: 24px;
}
.todoLabel {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background-color: var(--dark-grey);
  padding: 24px;
}
.inputCheckbox {
  display: inline-block;
  padding-right: 24px;
}
.todoInput {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: var(--light-grey);
  padding-left: 24px;
}
.todo__checkbox,
.todo__inpu-checkbox {
  border: 1px solid var(--dark-line);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.todo__body .todo__list-item {
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  padding: 24px;
  cursor: pointer;
}
.todo__body .todo__text {
  color: var(--light-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.25px;
  padding-left: 24px;
}
.todo__body .todo__list-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.todo__list-item--footer {
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.todo__footer-items {
  display: flex;
  gap: 18px;
}
.todo__footer-items .active {
  color: var(--color-active) !important;
}

.todo__list-item.d-flex {
  display: none;
}
.todo__list-item--footer .todo__footer-items {
  color: #5b5e7e;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.19px;
}
.todo__list-item--footer .todo__footer-items p,
span {
  color: var(--footer-items-color);
}
.todoFooter .footer__text {
  color: var(--footer-items-color);
  font-size: 34px;
  font-weight: 400;
  padding-top: 49px;
}
.todoFooter .footer__text {
  color: var(--footer-items-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.19px;
  text-align: center;
}
@media (max-width: 992px) {
  body {
    background-size: 100% 200px;
  }
  .container {
    width: 327px;
  }
  .todoInput {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.17px;
  }
  .todoLabel {
    padding: 20px;
  }
  .todo__body .todo__list-item {
    padding: 20px;
  }
  .todo__body .todo__text {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.17px;
  }
  .todo__list-item--footer .todo__footer-items {
    letter-spacing: -0.19px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.17px;
  }
  .todo__footer-items:nth-child(2) {
    display: none;
  }
  .todo__list-item.d-flex {
    display: flex;
    margin-top: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .d-flex .todo__footer-items {
    padding: 0 81px;
  }
  .todoFooter .footer__text {
    padding-top: 40px;
  }
}
