* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --nav-card-background: #fff;
  --text-color: #111517;
  --search-icon-color: #000;
  --input-placeholder-color: #848484;
  --countries-section-background: #f2f2f2;
}
:root > .dark-theme {
  --nav-card-background: #2b3844;
  --text-color: #fff;
  --search-icon-color: #fff;
  --input-placeholder-color: #fff;
  --countries-section-background: #202c36;
}
.container {
  max-width: 1280;
  padding: 5%;
}
/*? NAVBAR */
.countries-header {
  background-color: var(--nav-card-background);
}
.countries__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}
.countries__title {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
}
.countries__navbar-buttons {
  cursor: pointer;
}
.countries__icon .fa-moon {
  transform: rotate(-30deg);
}
.countries__button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-left: 3px;
  cursor: pointer;
}
.countries__icon {
  color: var(--text-color);
}
.countries__navbar-buttons--none {
  display: none;
  color: var(--text-color);
}
/* ? COUNTRIES BODY */
.countries__body {
  background-color: var(--countries-section-background);
}
.countries__search-filtered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countries__search-label {
  background-color: var(--nav-card-background);
  display: inline-block;
  padding: 21px 34px;
  width: 480px;
  height: 56px;
  border-radius: 5px;
}
.countries__search-input {
  border: none;
  outline: none;
  background-color: transparent;
}
.countries__search-input::placeholder {
  color: var(--input-placeholder-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 8px;
}
.search-icon {
  font-size: 14px;
  color: var(--search-icon-color);
}
.countries__filtered-select {
  border: none;
  outline: none;
  background-color: var(--nav-card-background);
  border-radius: 5px;
  padding: 18px 24px;
  color: var(--text-color);
}
.countries__filtered-select .countries__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 5px;
}
/*? CARDS */
.countries__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.countries__card {
  background-color: var(--nav-card-background);
  width: 264px;
  height: 336px;
  margin-top: 48px;
  margin-bottom: 67px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.countries__card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.countries__card-img {
  height: 160px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.countries__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.countries__card-content {
  color: var(--text-color);
  padding: 24px;
}
.countries__card-content h4 {
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}
.countries__card-content p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.countries__card-region {
  padding: 8px 0;
}
.countries__card-content p > span {
  font-weight: normal;
}
@media only screen and (max-width: 991px) {
  .countries__search-label {
    width: 380px;
  }
}
@media only screen and (max-width: 767px) {
  .countries__search-label {
    width: 300px;
  }
}
@media only screen and (max-width: 575px) {
  .countries__search-filtered {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}
